In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 16pt;}
div.output { font-size: 16pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 16pt;}
div.prompt { min-width: 100px;}
</style>
"""))

In [2]:
import seaborn as sns
iris = sns.load_dataset("iris")
iris_X = iris.iloc[:,:-1]
iris_y = iris.iloc[:,-1]

In [3]:
iris_y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [4]:
import random
random.seed(7902)
for col in range(4):
    iris_X.iloc[[random.sample(range(len(iris)), 20)],col] = float('nan')

In [5]:
iris_X

     sepal_length  sepal_width  petal_length  petal_width
0             NaN          3.5           NaN          0.2
1             4.9          NaN           1.4          0.2
2             4.7          3.2           NaN          NaN
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           NaN          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [6]:
import numpy as np
import pandas as pd

In [7]:
iris_n = pd.concat([iris_X, iris_y], axis=1)

In [8]:
iris_n.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           NaN          3.5           NaN          0.2  setosa
1           4.9          NaN           1.4          0.2  setosa
2           4.7          3.2           NaN          NaN  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
iris_n.to_csv("iris_data.csv", encoding="utf-8-sig", index=False)

# 결측치를 종 별 평균으로 체운다.

## 종별 꽃받침 길이/너비, 꽃잎 길이/너비 평균 계산

In [10]:
iris_mean_by_species = iris_n.groupby("species").mean()

In [11]:
iris_mean_by_species

            sepal_length  sepal_width  petal_length  petal_width
species
setosa          5.006667     3.454762      1.470455     0.246341
versicolor      5.863415     2.800000      4.280952     1.322727
virginica       6.522727     2.972340      5.520455     2.024444

In [12]:
imbs = iris_mean_by_species

In [13]:
imbs.loc["setosa","sepal_length"]

5.006666666666667

In [14]:
imbs

            sepal_length  sepal_width  petal_length  petal_width
species
setosa          5.006667     3.454762      1.470455     0.246341
versicolor      5.863415     2.800000      4.280952     1.322727
virginica       6.522727     2.972340      5.520455     2.024444

In [15]:
imbs.loc["setosa","sepal_length"]

5.006666666666667

In [16]:
iris_n.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           NaN          3.5           NaN          0.2  setosa
1           4.9          NaN           1.4          0.2  setosa
2           4.7          3.2           NaN          NaN  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [17]:
temp = iris_n.iloc[0,:]

In [18]:
temp["species"]

'setosa'

In [19]:
import math
def na2neam(x) :
    for i in range(4):
        if(math.isnan(x[i])) :
            x[i]=imbs.loc[x["species"], x.index[i]]
    return x

In [20]:
iris_n2 = iris_n.apply(na2neam, axis=1)

In [21]:
iris_n2.head()

   sepal_length  sepal_width  petal_length  petal_width species
0      5.006667     3.500000      1.470455     0.200000  setosa
1      4.900000     3.454762      1.400000     0.200000  setosa
2      4.700000     3.200000      1.470455     0.246341  setosa
3      4.600000     3.100000      1.500000     0.200000  setosa
4      5.000000     3.600000      1.400000     0.200000  setosa

In [22]:
X = iris_n2.iloc[:, :-1]
y = iris_n2.iloc[:, -1]

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3,
                                                    random_state=0)

In [25]:
from sklearn.ensemble import RandomForestClassifier

In [26]:
rf_model = RandomForestClassifier()

In [27]:
rf_model.fit(train_X, train_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [28]:
rf_model.score(test_X, test_y)

0.9777777777777777

In [29]:
rf_model = RandomForestClassifier()
rf_model.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [30]:
iris_val = pd.read_csv("인다솜_자료.csv", encoding="utf-8-sig")
iris_val

   sepal_length  sepal_width  petal_length  petal_width
0           5.7          NaN           5.2          1.8
1           5.6          3.0           6.9          1.8
2           4.9          3.0           NaN          2.6
3           5.2          3.4           NaN          0.9
4           5.1          2.5           1.5          0.2

In [31]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy="mean")

In [32]:
imp.fit_transform(iris_val)

array([[5.7       , 2.975     , 5.2       , 1.8       ],
       [5.6       , 3.        , 6.9       , 1.8       ],
       [4.9       , 3.        , 4.53333333, 2.6       ],
       [5.2       , 3.4       , 4.53333333, 0.9       ],
       [5.1       , 2.5       , 1.5       , 0.2       ]])

In [33]:
rf_model.predict(imp.fit_transform(iris_val))

array(['virginica', 'virginica', 'virginica', 'versicolor', 'setosa'],
      dtype=object)