## 10장 데이터베이스 연동
### 1절 SQLite 데이터 베이스 연결

#### 1.1 SQLite 와 파이썬 
#### 1.2. 데이터베이스 연결

### 2절 오라클 데이터 베이스 연결
#### 2.1. 오라클 데이터베이스 설치

#### 2.2. cx_Oracle 패키지 
- conda install cx_Oracle

In [5]:
import cx_Oracle as ora

oracle_dsn = ora.makedsn(host='localhost',port='1521',sid='xe') # 연결시키기
conn = ora.connect(dsn=oracle_dsn, user ="hr",password='hr') # connect 시키기

In [35]:
# sql 데이터 조회하기 
cursor = conn.cursor()  # cursor 객체 생성 
sql = """Select first_name, salary 
        from employees
        where employee_id = 103
        """
cursor.execute(sql) # sql문을 이용하기.
emp_list = cursor.fetchall() # 리스트안에 튜플이 나옴 
# 실행 할 결과를 또 반환하려고하면 값이 안나옴. 
# 따라서 재사용 하기 위해서 변수에 값을 반환해줘야 함.

In [ ]:
print(cursor.fetchall()) # 리스트안에 튜플이 나옴

In [17]:
cursor.execute("select * from employees")

In [19]:
for row in cursor:
    print(row)
    
# 실행 할 결과를 또 반환하려고하면 값이 안나옴.

In [20]:
cursor.execute("select * from employees")
emp_list = cursor.fetchall()

In [21]:
len(emp_list)

107

In [24]:
emp_list[0][1]

'Steven'

In [39]:
# insert 구문 

name = input("이름 입력 : ")
age = int(input("나이 입력  : "))
email = input("이메일 입력  : ")

# 방법 1 
#sql = "insert into contact values ('{}','{}','{}')".format(name, age, email)

# 방법 2
sql = "insert into contact values (:name,:age,:email)"
cursor.execute(sql,(name,age, email))
conn.commit()

이름 입력 : hong
나이 입력  : 20
이메일 입력  : hong@daum.net

In [38]:
cursor.execute(sql)

IntegrityError: ORA-00001: unique constraint (HR.CONTACT_EMAIL_PK) violated

In [33]:
conn.commit()