### 3장 데이터 구조

#### 1절. 리스트  [ ]

In [ ]:
L = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
type(L)

In [ ]:
fruites = ["banana","apple","orange","grape"]

In [ ]:
data = range(10)

In [ ]:
list(data)

In [ ]:
list(range(10,20))

In [ ]:
list(range(10,30,3))

In [ ]:
len(data)

In [ ]:
fruites.append("ho,2,23,4")

In [ ]:
fruites.extend([10,20,30,40])

In [ ]:
fruites

In [ ]:
fruites.insert(5,100)

In [ ]:
fruites.count(10) # 값을 가지고 그 값이 몇개 있는지 구하는 것.

In [ ]:
fruites.index(10) #위치에 없으면 에러가 발생한다.

In [ ]:
num = list(range(1,11))

In [ ]:
num

In [ ]:
num[0:5:2] = [20,30]
num  

# step 있는 슬라이싱에서는 갯수 안맞으면 오류가 뜬다.

In [ ]:
num

* 리스트 삭제

In [ ]:
num.pop(1)

In [ ]:
num

In [ ]:
num.remove(9)

In [ ]:
num

In [ ]:
num.clear()

In [ ]:
num = list(range(1,11))

In [ ]:
num

In [ ]:
del num[2]
num

In [ ]:
del num

In [ ]:
num

In [ ]:
num = list(range(1,11))

In [ ]:
num[::-1] # 반대로 나열

* 정렬

In [ ]:
num.sort()
num

In [ ]:
num.sort(reverse =True)
num

In [ ]:
num

In [ ]:
num.reverse()
num

#### 3절 딕셔너리

In [ ]:
mf = {"fruit":"apple","number":1,"sport":"golf"}

In [ ]:
d = {1:"hello",'1':"world",1.0:"kosa"}

In [ ]:
d

In [ ]:
d.get(1)

In [ ]:
d.get(True)

In [ ]:
mf["langugage"] = "python"

In [ ]:
mf

In [ ]:
mf["fruit"] = "banana"

In [ ]:
mf

* 3.4 삭제하기

In [ ]:
mf.pop("fruit")

In [ ]:
mf

* 3.5 조회하기

In [ ]:
for fav in mf:
    print(fav)
    
# 키값 얻기

In [ ]:
# value 값 얻기
for fav in mf:
    print(mf[fav])

In [ ]:
for fav in mf:
    print(mf.get(fav))

In [ ]:
for key in mf.keys():
    print(key)

In [ ]:
for value in mf.values():
    print(value)

In [ ]:
for k,v in mf.items():
    print(k,v)

In [ ]:
hash("hello") # hash 코드가 다 다름.

In [ ]:
"sport" in mf

###  4절 , 셋 set

- dic에서 키 만 가지는 것을 의미
- 값들은 각각 중복이 불가능 하다.
- 입력한 값의 순서를 보장하지 않음 
- 유니크한 값을 알고 싶을 때, set으로 변경하여 사용함.

In [ ]:
l = [1,2,3,5,1,4,5,6,3,2,3,4,2,6,2]

In [ ]:
len(l)

In [ ]:
len(set(l))

* 4.2 추가하기

In [ ]:
s1 = {1,2}
s1.add(0)
s1

In [ ]:
s1 = {1,2}
s1.add([10,20,30])

# add로 list는 추가 할 수 없다.

In [ ]:
# 따라서,  update() 함수를 사용해야한다. - 튜플 , 리스트, dic모두 가능 
s1 = {1,2}
s1.update([10,20,30])
s1

* 4.3. 합집합 |, 교집합 &, 차집합 -

In [ ]:
s1 = set([12,3,4,5,1])
s2 = set([9,8,6,7,3,4])


print("합집합", s1 | s2)
print("교집합" , s1 & s2)
print("차집합" , s1 - s2)

* 4.4 삭제하기 

    - remove() 를 이용해서 삭제

### 5절 enumerate

In [ ]:
l = [3,5,7,9,10]

In [ ]:
for data in l :
    print(data)

In [ ]:
for i in range(len(l)):
    print('{}번째 데이터는 {}입니다.'.format(i, l[i]))

In [ ]:
for i,data in enumerate(l):
    print('{}번째 데이터는 {}입니다.'.format(i, data))

### 6절. 연습 문제

In [1]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [2]:
#1.

numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [3]:
#2.

data = [200, 300, 400, 500]
numbers.extend(data)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [5]:
#3. 

print(numbers[0:5])

[1, 2, 3, 4, 5]

In [18]:
#4.

print(numbers[1::2])

[2, 4, 6, 8, 10, 200, 400]

In [21]:
#5. 

numbers[1::2] = [0,0,0,0,0,0,0]
numbers

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0, 100, 0, 300, 0, 500]

In [23]:
#6

numbers[::-1]

[500, 0, 300, 0, 100, 0, 9, 0, 7, 0, 5, 0, 3, 0, 1]

In [26]:
member_info = {"name" : "홍길동", "age":20, "address": "서울시 강동구","score": 90}

In [27]:
member_info["address"]

'서울시 강동구'

In [29]:
del member_info["score"]
member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 강동구'}

In [32]:
member_info["address"] = "서울시 강남구"
member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 강남구'}

In [35]:
list(member_info.values())

['홍길동', 20, '서울시 강남구']

In [36]:
n = [0,1,2,3,4,5,6,7,8,9]
n[::-2]

[9, 7, 5, 3, 1]