### 1. 문자열 인덱싱 또는 슬라이싱을 이용해서 'abcedf'를 'fdecba'로 출력하세요.

In [2]:
x = 'abcedf'

In [5]:
# 여기에 코드를 작성하고 실행시키세요. 아래의 예시는 올바르게 코딩했을 경우 실행 결과입니다.

x[::-1]

'fdecba'

### 2. 반복문을 이용해서 0부터 10까지(10 포함 안함) 숫자를 출력하는 코드를 작성하세요.
* 출력 시 숫자는 공백으로 구분되어야 합니다.

In [13]:
# 여기에 코드를 작성하고 실행시키세요. 아래의 예시는 올바르게 코딩했을 경우 실행 결과입니다.
n = 0
while n < 10 :
    print(n, end =" ")
    n = n+1

0 1 2 3 4 5 6 7 8 9

### 3. 다음처럼 직각 삼각형 모양의 별 피라미드를 출력하는 코드를 작성하세요
<pre>
*
**
***
****
*****
</pre>

In [21]:
# 여기에 코드를 작성하고 실행시키세요. 아래의 예시는 올바르게 코딩했을 경우 실행 결과입니다.

for i in range(5):
    for j in range(i+1):
        print('*', end = '')
    print()

*
**
***
****
*****

### 4. 다음 리스트가 주어졌을 경우 요구사항대로 코드를 작성하세요.
* numbers = [5,7,2,8,4,9,1,3,2]

In [40]:
numbers = [5,7,2,8,4,9,1,3,2]

In [41]:
# 5.1. 데이터의 개수는 몇개 인지 확인하세요.
# 여기에 코드를 작성하고 실행시키세요. 셀아래의 출력정보는 올바르게 코딩했을 경우 실행 결과입니다.
len(numbers)

9

In [42]:
# 5.2. 리스트의 맨 뒤에 숫자 10을 추가하세요.
# 여기에 코드를 작성하고 실행시키세요. 셀아래의 출력정보는 올바르게 코딩했을 경우 실행 결과입니다.
numbers.append(10)

In [43]:
numbers

[5, 7, 2, 8, 4, 9, 1, 3, 2, 10]

In [44]:
# 5.3. 처음 다섯 개 숫자만 출력하세요.
# 여기에 코드를 작성하고 실행시키세요. 셀아래의 출력정보는 올바르게 코딩했을 경우 실행 결과입니다.
numbers[0:5]

[5, 7, 2, 8, 4]

In [45]:
# 5.4. 리스트에서 짝수 번째 데이터 만 출력하세요.
# 여기에 코드를 작성하고 실행시키세요. 셀아래의 출력정보는 올바르게 코딩했을 경우 실행 결과입니다.
numbers[1::2]

[7, 8, 9, 3, 10]

In [46]:
# 5.5. 짝수 번째 데이터를 모두 0으로 바꾸세요.
# 여기에 코드를 작성하고 실행시키세요. 셀아래의 출력정보는 올바르게 코딩했을 경우 실행 결과입니다.
numbers[1::2]=[0]*len(numbers[1::2])

In [47]:
numbers # 이 코드는 짝수 번째 데이터를 모두 0으로 바꾼 결과를 확인하기 위한 것입니다. 삭제하지 마세요.

[5, 0, 2, 0, 4, 0, 1, 0, 2, 0]

In [48]:
#5.6. 데이터를 역순으로 출력하세요.
# 여기에 코드를 작성하고 실행시키세요. 셀아래의 출력정보는 올바르게 코딩했을 경우 실행 결과입니다.
numbers[::-1]

[0, 2, 0, 1, 0, 4, 0, 2, 0, 5]

In [49]:
#5.7. 데이터를 내림차순으로 정렬하세요.
# 여기에 코드를 작성하고 실행시키세요. 셀아래의 출력정보는 올바르게 코딩했을 경우 실행 결과입니다.
numbers.sort(reverse=True)

In [50]:
numbers

[5, 4, 2, 2, 1, 0, 0, 0, 0, 0]

### 5. 반복문을 이용해서 다음 데이터의 합과 평균을 출력하세요.
* numbers = [5,7,2,8,4,9,1,3,2]

In [51]:
numbers = [5,7,2,8,4,9,1,3,2]

In [56]:
sum = 0
# 여기에 코드를 작성하고 실행시키세요. 셀아래의 출력정보는 올바르게 코딩했을 경우 실행 결과입니다.

sum = 0

for i in numbers:
    sum = sum + i

avg = sum / len(numbers)
print(f"합은 {sum}입니다.")
print(f"평균은 {avg}입니다.")

합은 41입니다.
평균은 4.555555555555555입니다.

### 6. 두 정수를 입력받아 합을 출력하고 싶습니다. 아래의 셀에 있는 코드를 완성하세요.

In [57]:
num1 = int(input("정수 1 : "))
num2 = int(input("정수 2 : "))

정수 1 : 3
정수 2 : 4

In [58]:
print(num1 + num2)

7