### 20200401 1일차 

- 아나콘다 설치
- 주피터 노트북에서 코드 작성 및 실행
- 변수 정의
- 화면 입출력
- 파이썬 자료형

In [1]:
print("hello world")

hello world

esc + y : 코드 입력
esc + m : 주석 입력

In [7]:
a = 10

In [5]:
del a  # 변수를 지우는 것을 의미함 . kernel을 하지 않아도 됨.

In [10]:
print(a)

10

ctrl + /   : 주석을 달수 있다.

### 설명서 제목
* 목록표시
    * 들여쓴 목록

In [11]:
a

10

In [14]:
id(a) # 함수 : 특정기능을 위해서 만들어 진것으로, () 가 있는 것을 의미한다. ex, print, id 

# id 는 주소를 나타내는 함수이다. 값이 있는 공간을 말하는 것.

8791454163632

In [15]:
print

In [16]:
id(print)

5644600

In [17]:
a = 10
b = 20

In [19]:
a, b = 10, 20 # 위 아래 둘다 가능하다. 이렇게 한번에 쓰는 경우 순차적으로 발생하는 것이아니라, 한번에 실행되는 것이다.

In [20]:
c = 30, 40

In [21]:
c

(30, 40)

In [22]:
# -*- coding :utf-8 -*-

# utf-8문자로 인코딩하겠다는 의미.  한글을 저장할 경우, 하는것. 
# 파이썬은 기본적으로 utf8로 되어있다.

In [24]:
help(print)  # 설명이 나옴. shift + tab 을 누르면 설명이 나옴.

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print()

In [26]:
data = input()  # 사용자로부터 값을 입력 받기 위한 함수, 입력 받는 값은 항상 문자열임. 
data

aa

'aa'

In [27]:
data

'aa'

In [29]:
a = input("숫자를 입력하세요  :  ")

숫자를 입력하세요  :  30

In [31]:
b = input("숫자를 입력하세요  :  ")

숫자를 입력하세요  :  20

In [33]:
a + b  # input 으로 넣으면 문자기 때문에 이렇게 이어지게 됨.

'3020'

In [35]:
int(a)  + int(b)  # int() 하면 숫자로 만들어줌.

50

In [38]:
a1 = int(input("첫 번째 숫자"))
a2 = int(input("두 번째 숫자"))

첫 번째 숫자30
두 번째 숫자40

In [39]:
a1 + a2

70

In [44]:
print("HELLO", "WORLD", a, b, a1,a2, sep='-')

# () 안에 있는 것들을  인수(argument) 라고 함. 이름이 없는 것은 '순서 인자'라고 불린다. 
# sep : 공백을 - 로 대체함. 이런식으로 이름이 있는 인수를 keyword argument라고 함. 
# 이렇게 이름이 있는 애들은 이름이 없는 애들보다 뒤에 나와야함. 순서에 상관없이 됨.

HELLO-WORLD-30-20-30-40

In [48]:
print("HELLO", end='+')
print( "WORLD", end='+')
print(a, b,  end='+')
print( a1,a2, end='+')

HELLO+WORLD+30 20+30 40+

In [50]:
print("HELLO")
print( "WORLD")
print(a, b)
print( a1,a2)

# end 의 기본값은 \n 이다.

HELLO
WORLD
30 20
30 40

### 03. 기본 자료형

* 숫자 : 정수, 실수 (부동소수점) , 허수  - 파이썬3은 연산 중에, type 이 바뀐다. 
* 문자 : 문자와 문자열 구분 없음 , '' / "" 로 구분
* 논리 : True , False 

* data type , 자료형

In [54]:
a = 10 
print(type(a))  # 타입을 알 수 있음. int : 정수
print(type(3.5)) # float : 실수

<class 'int'>
<class 'float'>

In [56]:
123.4567
12.4567 * 10
0.1234567 * 10**3  # 부호 , 가수, 및 , 지수

123.4567

In [57]:
3 + 2j # 복소수는 원래 수학은 i 로 표현되지만, 파이썬에서는 i가 안되고 j로 표시됨.

(3+2j)

In [59]:
type(3 + 2j) #complex 는 복소수라는 의미.

complex

In [66]:
# 여러줄을 하고 싶을 때 

data = """hello word 2323
23
23
3
"""

In [67]:
print(data)

hello word 2323
23
23
3

In [62]:
# 여러줄을 하고 싶을 때 

"hello word 2323 \
23\
23\
3\
"

'hello word 2323 23233'

In [70]:
print("hello\nword")

#역슬러시(\)를 사용하는 것은 escape charater
#\n \t : 탭  \r : 리턴 \0 : 널null \\  : \ 문자 표시 \' : ' 표시 \" : "표시

hello
word

In [73]:
print("hello \r word")

 word

In [74]:
print("hello \0 word")

hello   word

In [75]:
"hello"*10

'hellohellohellohellohellohellohellohellohellohello'

In [76]:
data ='adfjklyrhrhe'

In [77]:
data[0]

'a'

* 인덱스 슬라이싱 [ start : stop ]  / [ start : stop : step ] 세번째는 얼마씩 뽑아주느냐를 결정
    - 음수는 마지막 부터 뽑아냄
    - [::-1] : 시작과 끝이 바뀌게 됨
    - [:-1] : 맨마지막 빼고 다 뽑아주세요

In [78]:
print(r"\n \\ \t")

# 이런식으로 r 을 맨 앞에 붙여주면 그대로 출력된다.

\n \\ \t