### 20200402 2일차 

#### 03. 논리형

* 파이썬의 논리값은 True, False 
    - False : None, ''(null string 문자타입인데 아무것도 없는 것 ), 0 , [] 
    - True : '\0' (null) 
    - null 과 null string은 다름

In [10]:
a = '\0'

In [11]:
if a :
    print("참")
else :
    print("거짓")

참

* 문자를 다루는 함수

In [16]:
temp = "python,R, JAVA,SpringFramework"

In [18]:
r = temp.split(sep=',') # , 를 기준으로 리스트의 인덱스로 나누어주는 것

In [19]:
','.join(r) # split 의 반대로 합쳐줄 때 사용함 . 자연어 처리할때 자주 사용하게 된다 .

'python,R, JAVA,SpringFramework'

In [20]:
"HelloWorld".capitalize()

'Helloworld'

In [21]:
h = "HelloWorld"
h.capitalize()

'Helloworld'

In [23]:
h.startswith('w') #첫번째 시작하는것이 어떤것인지 확인

False

In [25]:
h.endswith('ld')

True

In [27]:
h.find('o')

4

In [31]:
h.index('o',5) # 5이후에서 찾아주세요

6

* index 와  find의 차이점
    - 정상적이면 차이가 없음
    - 비정상적인경우, index는 오류가 발생하고 find는 -1 로 나옴. 
    - 어떤 함수를 사용하느냐에 따라서, 코드가 죽거나 살수도 있음.

In [32]:
h.index('z')

ValueError: substring not found

In [33]:
h.find('z')

-1

In [40]:
num1 = input("숫자를 입력하세요.  :")
if num1.isnumeric():   # 숫자인지 확인해주는 것. 
    print(int(num1))
else :
    print("숫자만 입력해야합니다")
    # 여기서 문자를 입력하면 오류가 발생한다.

숫자를 입력하세요.  :문자
숫자만 입력해야합니다

In [44]:
import numpy as np

In [45]:
a = 3.4

int(a), round(a), np.ceil(a), np.trunc(a),np.floor(a)

(3, 3, 4.0, 3.0, 3.0)

In [47]:
a = 3.6

int(a), round(a), np.ceil(a), np.trunc(a),np.floor(a)

(3, 4, 4.0, 3.0, 3.0)

In [46]:
a = -3.4

int(a), round(a), np.ceil(a), np.trunc(a),np.floor(a)

(-3, -3, -3.0, -3.0, -4.0)

In [48]:
a = -3.6

int(a), round(a), np.ceil(a), np.trunc(a),np.floor(a)

(-3, -4, -3.0, -3.0, -4.0)

In [49]:
int("12345")

12345

In [ ]:
int("3,000") # 에러

In [50]:
3e2 # 실수 타입이라서 int() 하면 오류가 나옴.

300.0

In [51]:
0.1 + 0.1

0.2

In [52]:
D = 0.1 
for i in range(10):
    D = D + 0.1 
    print(D)
    
    # 컴퓨터라서 float로 하면 이런 계산 결과가 나옴.

0.2
0.30000000000000004
0.4
0.5
0.6
0.7
0.7999999999999999
0.8999999999999999
0.9999999999999999
1.0999999999999999

### 04. 출력형식을 입력하는 방법

* 출력형식을 입력하는 방법
    - %
    - format()
    - f-string  # 파이썬이 3.4 부터 실행이 가능하다

In [53]:
name = "홍길동"
age = 20

In [57]:
print(name, '님의 나이는 ',  age ,'세 입니다.', sep='')

# sep='' 해서 불필요한 공백이 안생기게 할 수 있음.

홍길동님의 나이는 20세 입니다.

In [63]:
print('%s님의 나이는 %d입니다.'% (name,age))

# %s 는 문자 %d 는 십진법숫자를 의미한다.

홍길동님의 나이는 20입니다.

## format 구문
- 정렬 방법 : 정렬할 방법을 지정, < : 왼쪽정렬 > :오른쪽 정렬 ^ 가운데 정렬
- 자릿수 : 변수의 값을 출력할 최대 자릿수를 지정 ex,{:10} ,{:3}
- 타입 : 출력 형식을 지정 
    - 'd'는 10진 정수, 'f'는 실수, 's'문자열 'b'는 2진수, 'o'는 8진수, 'x'는 16진수
    - {:d} , {:f}
- 공백을 채울수 있음 : { :$>10 }  $로채우라는 의미

#### 매개변수를 갖는 형식 지정
- {}안에 {}를 이용하면 format()함수의 인수를 이용해 인수를 이용해 포맷 형식 지정
    - print("출력:[{:{}{}.{}}]".format(a,'>',10,3))
    - print("[{:{dir}{sign}{width}.{precision}}]".format(a,dir='>',sign = '+' ,width=10, precision =2 ))

In [64]:
print('{}님의 나이는 {}입니다'.format(name,age))

# 출력되는 문자의 길이, 정렬방식, 공백 처리 방식, 타입 등을 지정할 수 있다.

홍길동님의 나이는 20입니다

In [286]:
print("{},{:f},{:15.1f},{:10.2f},{:20.10f}".format(a,a,a,a,a))

# . 도 자리수에 포함

20,20.000000,           20.0,     20.00,       20.0000000000

In [62]:
print(f'{name}님의 나이는 {age}입니다.')

홍길동님의 나이는 20입니다.

In [93]:
b = "Hello world"

In [95]:
print("{:.5},[{:10.5}]".format(b,b))

Hello,[Hello     ]

In [79]:
a,b,c = 10,20,30

In [82]:
print("{:5},{:>5},{:<5},{:^5d}".format(a,a,b,c))

   10,   10,20   , 30

In [84]:
a,b=10,"hello"

In [86]:
print("{:$>10},{:*>20}".format(a,b))

$$$$$$$$10,***************hello

In [97]:
a,b = 123, -123

In [99]:
print("[{:5}],{:05},{:05}".format(a,a,b))

[  123],00123,-0123

In [101]:
print("[{:+5}],{:+07},{:+06}".format(a,a,b))

[ +123],+000123,-00123

In [103]:
print("{:+010},{:+010}".format(a,b))

# 10개의 자리수에서 맨앞에 부호가 생기고 0으로 채워줌

+000000123,-000000123

In [104]:
print("{:*>+10},{:*>+010}".format(a,b))

# 10개의 자리수에서 공백을 *로 채운 후에  > 오른쪽 정렬부호가 생김

******+123,******-123

#### 매개변수를 갖는 형식 지정
- {}안에 {}를 이용하면 format()함수의 인수를 이용해 인수를 이용해 포맷 형식 지정
    - print("출력:[{:{}{}.{}}]".format(a,'>',10,3))
    - print("[{:{dir}{sign}{width}.{precision}}]".format(a,dir='>',sign = '+' ,width=10, precision =2 ))

In [120]:
a = 2.3214532466

print("출력될 값은:[{:{}{}.{}}]입니다.".format(a,'>',10,3))
print("출력될 값은:[{:{}{}.{}f}]입니다.".format(a,'>',10,3))  # 값이 위아래가 다르다. f를 지정해 두었기 때문에 그런 것. 
print("출력될 값은:[{:{dir}{sign}{width}.{precision}}]입니다.".format(a,dir='>',sign = '+' ,width=10, precision =4 ))

출력될 값은:[      2.32]입니다.
출력될 값은:[     2.321]입니다.
출력될 값은:[    +2.321]입니다.

In [112]:
print("출력될 값은{:{pad}{dir}{width}.{prec}}입니다.".format(a,dir='>',pad = '*' ,width=5, prec = 5 ))

출력될 값은2.3215입니다.

In [121]:
from datetime import datetime

In [123]:
datetime.date

In [124]:
now = datetime(2020,4,2,14,10)

In [125]:
now

datetime.datetime(2020, 4, 2, 14, 10)

In [126]:
type(now)

datetime.datetime

In [127]:
from time import localtime
localtime()

time.struct_time(tm_year=2020, tm_mon=4, tm_mday=2, tm_hour=14, tm_min=11, tm_sec=21, tm_wday=3, tm_yday=93, tm_isdst=0)

In [132]:
print("{:%Y/%m/%d %H:%M}".format(now)) # format을 이용하여 내가 원하는 형식으로 날짜를 설정 할 수 있음

2020/04/02 14:10

In [134]:
from time import strftime
print(strftime("%Y/%m/%d %H:%M",localtime()))

2020/04/02 14:15

In [152]:
from datetime import datetime # 데이타가 문자형 형식으로 되어있을 때

date= '24 March 2020'

In [153]:
date_object = datetime.strptime(date,'%d %B %Y')

In [154]:
date_object

datetime.datetime(2020, 3, 24, 0, 0)

### 05. 연산자

* 연산을 했을때도, type에 따라서 연산의 결과가 달라지게 된다.
* 따라서 , type을 예민하게 잘 살펴봐야한다. 

#### 5.1 산술 연산자

In [156]:
2+3 , 3/2, 5//2, 5%2   #더하기 나누기 몫 나누기

(5, 1.5, 2, 1)

In [157]:
5//2, 5//2.0

(2, 2.0)

In [159]:
True + 1 
# true 는 1이며 숫자는 논리값보다 상위값임.

2

In [160]:
str(1) + "2" # 문자가 숫자보다 상위값

'12'

In [161]:
2**3 # 승수를 나타낸 것

8

In [164]:
2^3  # 비트 배타적 오알 XOR

1

In [166]:
3.8 % 1.2 

# 값이 딱 떨어 지지 않는다. 따라서 부정소수점 끼리의 나누기는 지양하는 것이 좋다.

0.19999999999999996

#### 5.2 대입 연산자

In [168]:
a = 10

In [169]:
a == 10

True

In [172]:
a = 10
a += 3 # a = a+3   # 복합 연산자

In [171]:
a

13

#### 5.3 논리 연산자

In [173]:
a = 10 
b = 5

In [174]:
a > 10 and b <5

False

In [175]:
a > 10 or b <5

False

In [180]:
(a >= 10) & (b <= 5) & (False) & (1200)

# false가 나오는데, 맨 뒤에가 숫자라서 0이나옴. 왜냐하면, 숫자값이 더 높아서.

0

In [179]:
a >= 10 and b <= 5 and 1200

# and를 사용하면 true / false가 아니라 값이 나오게 됨.

1200

In [181]:
a >= 10 & b <= 5 & 1200 # &를 사용하면, ture/ false가 나오게 됨.

True

In [185]:
# 비트 연산자

"{:b},{:b},{:b}".format((a>=10),(b<=5),201)

# 2진법으로 계산한다. 아래를 보면, 값이 0, 1 로 나오게 되는데 이것은 논리 연산자가 아니라 비트 연산자로 계산했기 때문.

'1,1,11001001'

In [190]:
print((a >= 10) & (b <= 5) & (200))
"{:b},{:b},{:b}".format((a>=10),(b<=5),200)

0

'1,1,11001000'

In [191]:
print((a >= 10) & (b <= 5)& (201))
"{:b},{:b},{:b}".format((a>=10),(b<=5),201)

1

'1,1,11001001'

In [193]:
# and 와 or 은 우선순위가 다르다.

4 and 9 or '' and 'hello'  # hello 라고 생각했으나 값은 9가 됨.

# 왜냐하면, and가 or 보다 크기 때문에 
# 4, 9 비교되서 9 / '' 와 hello 비교해서 '' => 9와 ''를 비교하니 9가 나옴. .. 자세한 설명은 p79

9

#### 5.4 비교 연산자

- 크기를 비교햇 결과를 True 또는 False로 변환
- 문자열 타입도 가능 : 소문자가 대문자보다 큰 값, ASCII 코드에서 대문자보다 소문자가 큼으로 지정됨
- 논리 타입도 비교 가능 : True 가 False 보다 큼

In [195]:
print(True > "a") # bool 과 str 은 타입이 서로 맞지 않아서 비교 연산이 안된다.

TypeError: '>' not supported between instances of 'bool' and 'str'

#### 5.5 비트 연산자

- 숫자를 2진수로 변한하여 계산하는 연산자.
- 각 2진수의 자리를 비교함.
    - & : 두 비트 모두 1이면 1
    - | : 두 비트 중 1이면 1
    - ^ : 두 비트가 같으면 0, 다르면 1 
    - ~ (not) : 0을 1로, 1을 0으로 변환 
    - a>>n : shift 연산, a를 n비트만큼 오른쪽으로 이동. # 내가 원하는 자리를 뽑아낼때 사용함
    - a<<n : shift 연산, a를 n비트만큼 왼쪽으로 이동. # 내가 원하는 자리를 뽑아낼때 사용함
- 정수를 이용해서 비트 연산을 함.

In [196]:
43 & 15

11

# 이진법 
a = 101011 #43
b = 001111 #15

a & b => 둘다 1인 경우는 8,2,1 다 더하면 11이 됨.

In [200]:
5^3

6

In [202]:
8 >> 2 # 1000 - > 0010 이됨. 따라서 답은 2

2

In [204]:
8 << 2 # 1000 -> 100000 이됨. 따라서 답은 32

32

In [211]:
a = 0b010010000001100010101111

In [212]:
a

4724911

In [213]:
a >> 16

72

In [215]:
"{:b}".format((a>>8))

'100100000011000'

In [220]:
(a  >> 8)& 0x00FF,

(24,)

In [221]:
"{:08b}".format((a>>8& 0x00FF))

'00011000'

In [222]:
0b00001011 & 0x0F

11

In [223]:
%%timeit -n 10000 -r 5
2147483648 / 64

36.7 ns ± 0.494 ns per loop (mean ± std. dev. of 5 runs, 10000 loops each)

In [224]:
%%timeit -n 10000 -r 5
2147483648 / 64

37.1 ns ± 0.87 ns per loop (mean ± std. dev. of 5 runs, 10000 loops each)

#### 5.6 isinstance

- isinstance(data, type) 함수는 데이터의 유형을 확인하는 함수이다.

In [227]:
type(3)

int

In [228]:
isinstance(3,int)

True

In [230]:
class Pen : # pen은 클래스
    pass

In [231]:
p1 = Pen() # p1은 객체

In [232]:
type(p1)

__main__.Pen

In [233]:
isinstance(p1,Pen)

True

In [236]:
a = input("숫자를 입력하세요.  ")
data = int(a)
if isinstance(data, int):
    print('정수입니다.')

숫자를 입력하세요.  1
정수입니다.

#### 7절. 연습문제

In [237]:
#1. 

name  = '홍길동'
age = 23
print('{}님의 나이는 {}입니다.'.format(name,age))

홍길동님의 나이는 23입니다.

In [239]:
#2.

a = int(input("숫자 입력하시오.: "))
b = int(input("숫자 입력하시오.: "))

print(a+b, a-b, a*b, a/b, a//b, a%b)

숫자 입력하시오.: 20
숫자 입력하시오.: 2
22 18 40 10.0 10 0

In [255]:
#3.

c = "Hello World"

d = c.split(' ')[::-1]
join_ = " ".join(d)
print(join_)

World Hello

In [259]:
#4. 

x = 'abcdef'
x[1:]+x[:1]

'bcdefa'

In [263]:
#5. 

x= 'abcedf'

x[::-1]

'fdecba'

In [296]:
#6. 

TC = int(input("오늘의 섭씨 온도를 입력하시오 : "))
F = (TC*1.8) +32
print("오늘의 화씨온도는 {:.2f} 이다.".format(F))

오늘의 섭씨 온도를 입력하시오 : 485
오늘의 화씨온도는 905.00 이다.